.fit-cover {
  object-fit: cover;
}

.skillsinfo {
  margin-top: 64px;
  margin-right: 0px;
  margin-left: 52px;
  width: 430px;
  display: block;
  position: static;
}

.aboutmetext {
  font-size: 16px;
  font-weight: bold;
  position: static;
  display: block;
  text-align: left;
  margin-top: 15px;
  margin-left: 52px;
  color: rgb(78,78,78);
}

.myavatar {
  min-height: 300px;
  padding-right: 0px;
  transition: none;
  margin-top: 38px;
  margin-left: -55px;
  width: 450px;
  height: 340px;
}

@media (max-width: 420px) {
  .myavatar {
    min-height: 300px;
    padding-right: 0px;
    transition: none;
    margin-top: 38px;
    margin-left: -45px;
    width: 350px;
    height: 240px;
  }
}

@media (max-width: 440px) {
  .table-responsive {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  .navbar-brand {
    margin-left: 187px;
    visibility: hidden;
  }
}

@media (max-width: 340px) {
  .myavatar {
    min-height: 300px;
    padding-right: 0px;
    transition: none;
    margin-top: 38px;
    margin-left: -55px;
    width: 150px;
    height: 40px;
  }
}

@media (max-width: 640px) {
  .skillsinfo {
    margin-top: 90px;
    margin-right: 0px;
    margin-left: 20px;
    width: 340px;
    display: block;
    position: static;
  }
}

@media (max-width: 420px) {
  .aboutmetext {
    font-size: 14px;
    font-weight: bold;
    position: static;
    display: block;
    text-align: left;
    margin-top: 74px;
    margin-left: 10px;
    color: rgb(78,78,78);
  }
}

@media (min-width: 1200px) {
  .navbar {
  }
}

div {
}

@media (min-width: 400px) {
  h2 {
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 16px;
  }
}

